- if @post.comments.respond_to?(:each)
  - @comments = @post.comments
  %ul.comments
    = render partial: 'comments/comment', collection: @comments
%br
%p
- if current_user
  = link_to new_post_comment_path(@post), remote: true, id: 'show_new_comment_form' do
    = content_tag(:button, class: 'btn btn-primary') do
      Add Comment