<div class = 'row'>
  <div class="col-md-10">
    <h1>Editing post</h1>
  </div>
  <div class="col-md-2">
    <h1>
      <%= link_to root_path do %>
        <%= content_tag(:button, :class=>'btn btn-info') do%>
          Back
        <% end %>
      <% end %>
    </h1>
  </div>
</div>
<%= render 'form' %>
