@import "bootstrap-sprockets";
@import "bootstrap";

@mixin border_radius_40 {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
#wrapper {
  width: 800px;
  min-height: 800px;
  @include border_radius_40;
  background-color: #f4f3f4;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  #header {
    @include border_radius_40;
    position: relative;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    font-size: 14px;
    color: #FFF;
    h1 {
      position: absolute;
      margin: 25px;
      span {
        color: orange;
      }
    }
    a {
      text-decoration: none;
      color: green;
    }
    .user_info {right: 0;}
    .back_to_main, .user_info {
      position: absolute;
      margin: 10px 25px;
      bottom: 0;
    }
  }
  #content {
    .sign_in, .new_user { width: 420px; }
    margin-left: 20px;
    margin-right: 20px;
    h3 {
      background: #eee image_url('arrow.gif') 8px 8px no-repeat;
      span {
        margin-left: 25px;
      }
    }
    .create_button {
      text-align: right;
      margin-right: 44px;
      margin-top: 18px;
    }
  }
  #banner {
    position: fixed;
    bottom: 0;
    left: center;
    width: 800px;
    text-align: center;
    background-color: cadetblue;
    color: #fff;
  }
}
